h2{
    font-size: 50px;
    font-weight: 700;
    text-align: center;
}

label{
    font-size: 20px;
    font-weight: 700;
}

.container{
    background-color: #007FFF;
    border-radius: 4px;
    margin-top: 80px;
    margin-bottom: 140px;
    margin-right: 20px;
    margin-left: 35px;
    padding-right: 80px;
}

.exact-position{
    margin-left: 220px;
}

.mt-3{
    margin-top: 10px;
}

input[type=text]{
    margin-bottom: 30px;
    margin-left: 220px;
    padding: 5px;
    padding-right: 115px;
    border: none;
    border-radius: 5px;
}

input[type=email]{
    margin-bottom: 30px;
    margin-left: 220px;
    padding: 5px;
    padding-right: 115px;
    border: none;
    border-radius: 5px;
}

input[type=tel]{
    margin-bottom: 30px;
    margin-left: 220px;
    padding: 5px;
    padding-right: 115px;
    border: none;
    border-radius: 5px;
}

input[type=submit]{
    background-color: goldenrod;
    font-family: 'Merriweather', serif;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    margin-left: 315px;
    margin-bottom: 50px;
    cursor: pointer;
}

input[type=submit]:hover{
    background-color: cadetblue;
}

.error{
    background-color: #b7322c;
    padding: 10px;
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    margin-top: 40px;
    margin-left: 10px;
}